* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: var(--primary-bg);
    transition: 0.3s ease-in;
    visibility: hidden;
}

:root {
    --primary-txt-color: blue;
    --primary-bg: rgb(245, 226, 226);
    --primary-heading-color: red;
}

h1 {
    margin: 10px;
    color: var(--primary-heading-color);
}

p {
    padding: 0 20px;
    color: var(--primary-txt-color);
}

#switchMode {
    margin: 20px;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
    position: relative;
    border-radius: 30px;
    border: none;
    background: none;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.45),
        inset -2px -2px 10px rgba(0, 0, 0, 0.45);
    padding-left: 60px;
}

/* @keyframes shake {
    0% {
        left: 0;
    }
    25% {
        left: 80%;
    }
    50% {
        left: 0;
    }
    75% {
        left: 80%;
    }
    100% {
        left: 10px;
    }
} */

#switchMode::after {
    content: "";
    width: 40px;
    height: 40px;
    background: rgb(0, 0, 0);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    transition: left 0.3s ease-in-out;

}

#switchMode:hover {
    cursor: pointer;
    scale: 0.9;
}

/* #switchMode:hover::after {
    animation: shake 2s ease-in-out infinite;
} */
body.active {
    --primary-txt-color: rgb(255, 255, 255);
    --primary-bg: #212121;
    --primary-heading-color: rgb(31, 79, 169);
}


body.active #switchMode::after {

    background: rgb(255, 255, 255);
    left: 70%;
}

body.active #switchMode {
    padding-left: 25px;
    padding-right: 65px;
    color: white;
    box-shadow: inset 2px 2px 10px rgba(255, 255, 255, 0.05),
        inset -2px -2px 10px rgba(255, 255, 255, 0.05);
}

.splash {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: hidden;
    animation: ss 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955); /* Smooth animation and ensure final state is kept */
}

@keyframes ss {
    0% {
        font-size: 100px;
        filter: blur(0); /* Ensure no blur initially */
    }

    50% {
        font-size: 200px;
        filter: blur(2px); /* No blur at 50% */
    }

    100% {
        font-size: 400px;
        filter: blur(5px); /* End with blur */
    }
}